<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel Buddy</title>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    </head>

    <body>
          <!-- NavBar -->
        <header>
            <div class="logo">
                <a href="index.html" class="logo">Travel Planner</a>
            </div>
            <div class="nav-links">
                 <a href="#all_trips" id="all_btn" class="go-somewhere-btn">All Trips</a>
            </div>
        </header>

<div class="main-wrapper">
    <section id="form-section">
        <div class="form-container">
                <form class="form">
                    <div class="form-control">
                        <label for="destination">My trip to</label>
                        <input type="text" placeholder="Enter Location" name="destination" required>
                    </div>
                    <div class="form-control">
                        <label for="date">Departing</label>
                        <input type="date" name="date">
                    </div>
                    <div class="form-control">
                        <label for="returndate">Return</label>
                        <input type="date" name="returndate">
                    </div>
                    <input type="submit"  class="input-btn" name="submit" value="Book">
                </form>
        </div>
    </section>
    <section id="result-section" >
        <h1 id="message"> Book New Trip To View Here</h1>
        <h1 class="Tip_info"> Recent Trip :</h1>
        <div id="hidden_check" class="result-container hidden">
            <div class="result-left">
                <img id="destination-img"src="#" alt="destination-img">
                <input  name="items" id="items" placeholder="Add items in your list" style="margin: 5px 0px;color: #383838;border-bottom:2px solid #383838;" />
                <button class="list-btn" onclick="Client.add_item_to_list()" > Add </button>
                <ul id="item_list">
                </ul>
            </div>
            <div class="result-right">
                <h2 class="destination-text" >
                    My trip to : 
                    <span id="city" class="result-underline">Mumbai , India</span>
                </h2>
                <h2 class="destination-date">
                    Departing :
                    <span id="date" class="result-underline">2020-03-23</span>
                </h2>
                <h2 class="return-date">
                    Return :
                    <span id="return" class="result-underline">2020-04-29</span>
                </h2>
                <h2 class="length-day" style="font-size: .9rem;">
                    <span id="length-day" class="result-underline">This trip is 1 month 4 days long</span>
                </h2>
                
                <div class="result-btn-container">
                    <a id="delete-btn" href="#">Cancel Trip</a>
                </div>
                <h2 class="destination-countdown" id="days-left">
                    Mumbai , India is 4 days away
                </h2>
                <h2 class="local-weather">Typical Weather is:
                    <span id="destination-weather" class="result-underline">44</span>
                    &#176; F
                </h2>
                <h2 class="local-weather">Mostly 
                    <span id="weather-description" class="result-underline">Cloudy</span>
                </h2>
            </div>
        </div>
     
    </section>
    <section id="result-section" style="background: #e5e3e3;">
        <h1 class="Tip_info" id="all_trips"> My Trips :</h1>
        <div id="all-result-container">
        </div>
     
    </section>
    
    <!-- Result Section -->
    
</div>
        <!-- Input Section -->

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
              // Use the window load event to keep the page load performant
              window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
              });
            }
          </script>
        


    </body>
</html>